/node_modules
/dist
/lib
/.env
/.env.local
/.env.development
/.env.test
/.env.production
/.DS_Store
/.vscode
/.idea
/.eslintcache
/.prettiercache
/logs
/coverage
/.next
/out
/.nuxt
/.cache
/.parcel-cache
/.webpack
/.babelrc
/.stylelintrc